
#mian-container{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @media (max-width: 415){
    #quiz-title{
        font-size: 16px;
    }
} */